doctype html
html
  head
    title Junglly
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'Junglly', root_path, class: 'brand'
          .nav-collapse
            ul.nav
              li.active = link_to 'Teams', teams_path
            ul.nav.pull-right
              li = user_link
    .container
      = yield
